In [60]:
import pandas as pd

# Get data

In [61]:
df = pd.read_csv('./assets/traffic_accidents_in_barranquilla-20240819.csv')

print(df.dtypes)
print(df.head())  
print(df.describe())

date               object
hour               object
severity           object
type               object
address            object
injured_amount    float64
dead              float64
accidents           int64
year                int64
month              object
day_of_week        object
dtype: object
                      date         hour     severity       type  \
0  2018-01-01T00:00:00.000  01:30:00:am  Con heridos  Atropello
1  2018-01-01T00:00:00.000  02:00:00:pm   Solo daños     Choque
2  2018-01-01T00:00:00.000  04:00:00:am   Solo daños     Choque
3  2018-01-01T00:00:00.000  04:30:00:am   Solo daños     Choque
4  2018-01-01T00:00:00.000  05:20:00:pm   Solo daños     Choque

                address  injured_amount  dead  accidents  year    month  \
0           CL 87 9H 24             1.0   NaN          1  2018  January
1          CL 110 CR 46             NaN   NaN          1  2018  January
2  AV CIRCUNVALAR CR 9G             NaN   NaN          1  2018  January
3        CLLE 72 CRA 29             NaN   NaN          1  2018  January
4       VIA 40 CALLE 75             NaN   NaN          1  2018  January

  day_of_week
0         Mon
1         Mon
2         Mon
3         Mon
4         Mon
       injured_amount        dead     accidents          year
count     9984.000000  252.000000  25610.000000  25610.000000
mean         1.471655    1.035714      1.000195   2020.100547
std          1.156751    0.185946      0.013972      1.713887
min          1.000000    1.000000      1.000000   2018.000000
25%          1.000000    1.000000      1.000000   2019.000000
50%          1.000000    1.000000      1.000000   2020.000000
75%          2.000000    1.000000      1.000000   2021.000000
max         42.000000    2.000000      2.000000   2024.000000

# Add id column

In [62]:
df.insert(0, 'id', df.index + 1)
df.insert(len(df.columns), 'latitude', '')
df.insert(len(df.columns), 'longitude', '')

print(df.head(10))

   id                     date         hour     severity       type  \
0   1  2018-01-01T00:00:00.000  01:30:00:am  Con heridos  Atropello
1   2  2018-01-01T00:00:00.000  02:00:00:pm   Solo daños     Choque
2   3  2018-01-01T00:00:00.000  04:00:00:am   Solo daños     Choque
3   4  2018-01-01T00:00:00.000  04:30:00:am   Solo daños     Choque
4   5  2018-01-01T00:00:00.000  05:20:00:pm   Solo daños     Choque
5   6  2018-01-01T00:00:00.000  06:00:00:pm  Con heridos     Choque
6   7  2018-01-01T00:00:00.000  12:50:00:am  Con heridos  Atropello
7   8  2018-01-02T00:00:00.000  02:30:00:pm   Solo daños     Choque
8   9  2018-01-02T00:00:00.000  03:00:00:pm   Solo daños     Choque
9  10  2018-01-02T00:00:00.000  03:45:00:pm   Solo daños     Choque

                address  injured_amount  dead  accidents  year    month  \
0           CL 87 9H 24             1.0   NaN          1  2018  January
1          CL 110 CR 46             NaN   NaN          1  2018  January
2  AV CIRCUNVALAR CR 9G             NaN   NaN          1  2018  January
3        CLLE 72 CRA 29             NaN   NaN          1  2018  January
4       VIA 40 CALLE 75             NaN   NaN          1  2018  January
5            CR 8 CL 41             3.0   NaN          1  2018  January
6     CLLE 119B CRA 11B             1.0   NaN          1  2018  January
7      CARRERA 25 37-42             NaN   NaN          1  2018  January
8          CR 51B 1D 35             NaN   NaN          1  2018  January
9       VIA 40  CLLE 85             NaN   NaN          1  2018  January

  day_of_week latitude longitude
0         Mon
1         Mon
2         Mon
3         Mon
4         Mon
5         Mon
6         Mon
7         Tue
8         Tue
9         Tue

# Data column parsing

In [63]:
unique_severity = df['severity'].unique()

unique_type = df['type'].unique()

unique_month = df['month'].unique()

unique_day_of_week = df['day_of_week'].unique()

df['severity'] = pd.Categorical(df['severity'], categories=unique_severity)
df['type'] = pd.Categorical(df['type'], categories=unique_type)

# Convert 'month' and 'day_of_week' to categorical types
df['month'] = pd.Categorical(df['month'], unique_month)
df['day_of_week'] = pd.Categorical(df['day_of_week'], unique_day_of_week)

# Convert 'date' to datetime format
df['date'] = pd.to_datetime(df['date'])

# Convert 'hour' to a time format
df['hour'] = pd.to_datetime(df['hour'], format='%I:%M:%S:%p').dt.time

# Convert 'address' to string
df['address'] = df['address'].astype(str)

# Convert 'injured_amount', 'dead', 'accidents', 'year' to int64 (handling NaN)
df['injured_amount'] = df['injured_amount'].fillna(0).astype(int)
df['dead'] = df['dead'].fillna(0).astype(int)
df['accidents'] = df['accidents'].astype(int)
df['year'] = df['year'].astype(int)


# Check the updated DataFrame types
print(df.dtypes)

# Optionally, view the updated DataFrame
print(df)

id                         int64
date              datetime64[ns]
hour                      object
severity                category
type                    category
address                   object
injured_amount             int64
dead                       int64
accidents                  int64
year                       int64
month                   category
day_of_week             category
latitude                  object
longitude                 object
dtype: object
          id       date      hour     severity       type  \
0          1 2018-01-01  01:30:00  Con heridos  Atropello
1          2 2018-01-01  14:00:00   Solo daños     Choque
2          3 2018-01-01  04:00:00   Solo daños     Choque
3          4 2018-01-01  04:30:00   Solo daños     Choque
4          5 2018-01-01  17:20:00   Solo daños     Choque
...      ...        ...       ...          ...        ...
25605  25606 2024-06-29  10:15:00  Con heridos     Choque
25606  25607 2024-06-30  02:00:00  Con heridos     Choque
25607  25608 2024-06-30  14:00:00  Con heridos     Choque
25608  25609 2024-06-30  17:00:00  Con muertos     Choque
25609  25610 2024-06-30  18:30:00  Con heridos  Atropello

                            address  injured_amount  dead  accidents  year  \
0                       CL 87 9H 24               1     0          1  2018
1                      CL 110 CR 46               0     0          1  2018
2              AV CIRCUNVALAR CR 9G               0     0          1  2018
3                    CLLE 72 CRA 29               0     0          1  2018
4                   VIA 40 CALLE 75               0     0          1  2018
...                             ...             ...   ...        ...   ...
25605          CARRERA 42G CALLE 90               1     0          1  2024
25606          CALLE 116 CARRERA 38               1     0          1  2024
25607  CALLE 56 FRENTE AL # 8E - 48               2     0          1  2024
25608       CARRERA 43 CON CALLE 41               0     1          1  2024
25609            CARRERA 8 CALLE 49               2     0          1  2024

         month day_of_week latitude longitude
0      January         Mon
1      January         Mon
2      January         Mon
3      January         Mon
4      January         Mon
...        ...         ...      ...       ...
25605     June         Sat
25606     June         Sun
25607     June         Sun
25608     June         Sun
25609     June         Sun

[25610 rows x 14 columns]

# Save data modifications

In [64]:
df.to_csv('./assets/data.csv', index=False)